<footer class="site-footer">
    <div id="footer_bg">
        <div id="footer_holder">
            <div id="footer_logo">
                <center>© 2009 - 2018</center>
                <br>
                <br>
                <a href="http://mti.hu/" target="_blank"><img src="{{ "/assets/mti.jpg" | relative_url }}" alt=""></a>
            </div>
            <div class="sep">&nbsp;</div>
            <div class="menu">
                <div class="title">Információ</div>
                <ul>
                    <li><a href="http://hunhirado.hu/?r=35&amp;c=84">Adatvédelmi elveink</a></li>
                    <li><a href="http://hunhirado.hu/?r=35&amp;c=83">Szerzői jogok</a></li>
                    <li><a href="http://hunhirado.hu/?r=35&amp;c=3115">Médiaajánlat</a></li>
                    <li><a href="http://hunhirado.hu/?r=35&amp;c=81">Impresszum</a></li>
                </ul>
            </div>
            <div class="sep">&nbsp;</div>
            <div class="menu menu_double">
                <div class="title">Információ</div>
                <ul>
                    <li><a href="http://hunhirado.hu/r=11">Gazdaság</a></li>
                    <li><a href="http://hunhirado.hu/r=12">Kultúra, tudomány</a></li>
                    <li><a href="http://hunhirado.hu/r=13">Sport, szabadidő</a></li>
                    <li><a href="http://hunhirado.hu/r=14">Közélet, hírek</a></li>
                    <li><a href="http://hunhirado.hu/r=15">Gasztronómia, turizmus</a></li>
                    <li><a href="http://hunhirado.hu/r=17">Életmód, egészség</a></li>
                    <li><a href="http://hunhirado.hu/r=16">Mezőgazdaság</a></li>
                </ul>
            </div>

            <div id="footer_hirlevel_holder">
                Iratkozzon fel heti hírlevelünkre és értesüljön a hunhirado.hu aktualitásairól!

                <form action="javascript:void(null)" method="post"
                      onsubmit="xajax_hirlevel_feliratkozas(xajax.getFormValues(this))" enctype="multipart/form-data"
                      id="footer_hirlevel">
                    <input name="email" id="hirlevel_email" value="Adja meg e-mail címét." class="text" type="text">
                    <div id="hirlevel_uzenet" class="alert"></div>
                    <input name="hirlevel_submit" id="hirlevel_submit" value="Feliratkozás" class="submit"
                           type="submit">
                </form>
            </div>

            <div class="clear">&nbsp;</div>
        </div> <!-- footer_holder -->

    </div> <!-- footer_bg -->weather failed, check feed URL
</footer>
