<div id="header">
    <a href="{{ site.url }}" id="logo">&nbsp;</a>
    <div id="top_banner_holder">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="25%"><a class="banner" href="/display/banner-click.php?id=1853" target="bkmhirdetes"><img
                        src="{{ "/assets/01_20180111015129.png" | relative_url }}" border="0" style="width:75px;"
                    alt=""/></a></td>
                <td width="25%"><a class="banner" href="/display/banner-click.php?id=1854" target="bkmhirdetes"><img
                        src="{{ "/assets/02_20180111015202.png" | relative_url }}" border="0" style="width:157px;"
                    alt=""/></a></td>
                <td width="25%"><a class="banner" href="/display/banner-click.php?id=1855" target="bkmhirdetes"><img
                        src="{{ "/assets/03_20180111015932.png" | relative_url }}" border="0" style="width:197px;"
                    alt=""/></a></td>
                <td width="25%"><a class="banner" href="/display/banner-click.php?id=16" target="bkmhirdetes">
                    <object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'
                            codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0'
                            width='157' height='90'>
                        <param name='movie'
                               value='/pics/bannerek/03_20120130085934.swf?targeturl=/display/banner-click.php?id=16&amp;clickTAG=/display/banner-click.php?id=16'>
                        <param name='quality' value='high'>
                        <embed
                                src='http://hunhirado.hu/pics/bannerek/03_20120130085934.swf?targeturl=/display/banner-click.php?id=16&amp;clickTAG=/display/banner-click.php?id=16'
                                quality=high
                                bgcolor='#FFFFFF'
                                width='157'
                                height='90'
                                type='application/x-shockwave-flash'
                                pluginspace='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash'>
                        </embed>
                    </object>
                </a></td>
            </tr>
        </table>
    </div>
    <div class="clear">&nbsp;</div>
</div>