---
layout: default
---
<td class="content_cikk">
    <div class="box_title_cikk">
        <ul>
            <li><a href="/">Főoldal</a></li>
            <li> /</li>
            <li><a href="/egyeb">Ajánló</a></li>
        </ul>

        <div id="cegkereso_holder">

            <form action="" method="get" enctype="multipart/form-data">
                <input type="text" name="q" id="cegprofil" value="Cég / Profil kereső" class="text"/>
                <input type="hidden" name="r" id="" value="32"/>
                <input type="submit" name="cegprofil_submit" id="cegprofil_submit" value="Keresés"
                       class="submit"/>
                <div class="clear">&nbsp;</div>
            </form>

        </div>

        <div class="clear">&nbsp;</div>

    </div>
        {{ content }}
    <div class="clear">&nbsp;</div>
    <div class="hr">&nbsp;</div>

</td>